<h1>Ask your coach anything</h1>

<form action="answer" method="get">
  <input type="text" name="pages" placeholder="Type your question...">
  <button type="submit" class="btn btn-success">Ask!</button>
</form>
